@property --pc { /* purple/coral */
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}
@property --co { /* coral/orange */
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

@property --zx { /* purple/coral */
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}
@property --yt { /* coral/orange */
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

body {
  --zx: 0%;
  --yt: 100%;
  width: 100%;
  height: 100%;
  transition: --pc 1s, --co 2s;
  background: linear-gradient(60deg, rgb(0, 105, 128) var(--zx), rgb(150, 255, 244) var(--yt), orange);
  color: #ffffff;
  min-height: 100vh;
}

.body:hover {
  --zx: 0%;
  --yt: 100%;
}


form.box {
    width: 50%;
    margin: 30px;
}

form.box > h1.title.pt-3 {
    background-color: rgba(191, 191, 191, 0.166);
    color: rgba(0, 0, 0, 0.81);
    border-radius: 3px;
    text-align: center;
}

div.box {
    background-color: #ffffff;
}

h1,
h2,
h3 {
  color: #ffffff;
  padding: 10px;
}

.title {
  color: #ffffff;
  background-color:#fcccb8;
}

.gallery.mx-6 {
  display: grid;
  grid-template-columns: repeat(auto, minmax(280px, 1fr));
  gap: 20px;
  margin: auto 30px;
}

.gallery.mx-6 .card {
  transition: .1s linear;
  display: inline-block;
  height: fit-content;
  width: fit-content;
}


.gallery.mx-6 .card:hover {
  transform: scale(.99);
  z-index: 12;
}

p {
  font-size: 12px;
}

.navbar {
  background-color: rgb(255, 204, 77);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: -2px -1px 15px 7px rgba(186, 0, 0, 0.514);
  -moz-box-shadow: -3px -2px 30px 14px rgba(130, 0, 0, 0.582);
  box-shadow: -4px -3px 45px 21px rgba(113, 0, 0, 0.331);
  --pc: 0%;
  --co: 100%;
  width: 100%;
  height: 5%;
  transition: --pc 2s, --co 2s;
  background: linear-gradient(20deg, rgb(247, 152, 79) var(--pc), rgb(255, 200, 104) var(--co), rgb(255, 221, 147));
}

.navbar:hover {
  --pc: -100%;
  --co: 0%;
}

body > div.box {
    width: 50%;
    height: 50%;
    padding: 30px;
    margin: 50px auto;
}

.field > p.help {
    color: blue;
    justify-content: right;
}

.button {
    margin: 0 0 0 10px;
    background-color: rgba(213, 39, 39, 0.851);
    color: white;
    border: transparent;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: rgba(206, 53, 53, 0.968);
}

body > nav > div.navbar-brand > a.navbar-item:hover {
    background-color: rgb(255, 249, 249);
    color: black;
}

body > nav > div.navbar-brand > a.navbar-item {
    color: white;
}

nav.navbar > div.navbar-menu.navbar-end > a.navbar-item {
    color: white;
}
nav.navbar > div.navbar-menu.navbar-end > a.navbar-item:hover {
    color: black;
    background-color: rgb(252, 233, 233);
}

.card-header > p {
    background-color:#ffffff
}

.card-header > p.card-content {
    border-radius: 0;
}

div.card.is-responsive {
  width: 50%;
  height: 50%;
  margin: 30px;
}

div.card.is-responsive > header.card-header > p.card-header-title {
  border-top-left-radius: 3px ;
}

body > div.gallery.mx-6 > a > div.card {
  max-width: 60%;
  max-height: 60%;
}

body > nav > div.navbar-menu.navbar-end {
  justify-content: space-evenly;
}


div.card-content p.card-body {
  width: 100%;
  height: 100%;
  background-color: white;
}

  
