{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{% static 'scripts/main.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <title>SynthCollector - {% block title %}{% endblock %}</title> 
    </head>
    <body >
        {%block nav %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">SynthCollector</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div class="navbar-menu navbar-end">
                <a class="navbar-item" href="/about">About</a>
    
                <a class="navbar-item" href="/synths">Synths</a>
    
                <a class="navbar-item" href="/synths/new/">Add</a>
            </div>
        </nav>
        {% endblock %}
        
    </div>
    {%block content %}
     
    {%endblock%}
</div>
</body>
  </html>
