{% extends 'base.html' %} {% block content %}
<div class="box">
  <div class="field">
    <div class="control">
      <label class="label">Add Synthesizer</label>

      <input class="input" type="text" placeholder="ex. Mono/Poly" />

      <br />
      <br />

      <label class="label"> Maker </label>

      <input class="input" type="text" placeholder="ex. Korg" />

      <br />
      <br />

      <label class="label"> Production Year </label>

      <input class="input" type="text" placeholder="ex. 1981" />

      <br />
      <br />
    </div>

    <div class="field is-grouped is-grouped-right">
      <button class="button">Cancel</button>
      <button class="button is-primary">Submit</button>
    </div>

    <br />
  </div>
</div>
{% endblock %}
