{% extends 'base.html' %} {% block content %}

<h1 class="title pt-5"> What Is A Synthesizer?</h1>

<div class="card is-responsive">
    <div class="card-content">
        <p class="card-body">
            <b>A Synthesizer is an electronic musical instrument, which contains various modules for   producing</b> and shaping sound, such as oscillators, filters or voltage control amplifiers. The synthesizers are used to produce sounds impossible to obtain by traditional instruments. With the emergence of these instruments the entirely separate branch of music was developed, namely the electronic music.
            The word "synthesizer" is derived from the word "synthesis". And that word means the synthesis of all the components or any individual pieces into one thing. This is what the synthesizer do.

A typical synthesizer contains three most basic modules:
1 The Oscillator - the module that produces initial sound
2 The Keyboard - the module that is used to control the sound in the musical way
3 The Filters and Effects to change the nature of the sound.

The third section usually contains the VCA module, which allows you to set different characteristics of sound int terms of it's decay or attack as well as the VCF Envelope filter, which may change the characteristics of filter actions depending on the time.

For a long time already the synthesizers have a built-in sequencer module for programming synthesizer, so that it can play different rhythms or phrases at the same time, and a module to store both factory and user sound presets. The first synthesizer that was equipped with a memory for storing sounds was the Prophet 5, and it was simply priceless in terms of practical usability for musicians, who did not have to set each sound again. 

        </p>
    </div>
</div>



{% endblock %}
